__pycache__
.cache
.dotnet
.gnupg
.local
.venv
.vscode-server
.bash_history
.bash_logout
.bashrc
.profile
.python_history
.wget-hsts
.gitconfig
.npm
npm-debug.log
Vaja2
.vuerc
.vue-cli-ui
node_modules
package-lock.json
.vscode
package.json
.sudo_as_admin_successful
authorized_keys
.openfaas
.config
template
build
.secrets
.docker
sumfunction
commentchecker.yml
sumfunction.yml
